{% extends 'center/base.html' %}
<!-- {% load static %} -->

{% block title %}
    About
{% endblock %}

{% block content %}
    <div class="container">
          <!-- Introduction Row -->
      <h1 class="my-4">About Us
        <small>We fix everything</small>
      </h1>
      <p>We Repair all Main consumer electronics products include radio receivers, television sets, MP3 players, video recorders, DVD players, digital cameras, camcorders, personal computers, video game consoles, telephones and mobile phones and electronic appliances like fans,washing machine,refrigerators,etc.</p>

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle2 img-fluid d-block mx-auto" src="https://i.imgur.com/RxLMdlK.png" alt="">
          <h3>Apoorv Patne
            <small>Undergrad</small>
          </h3>
          <p>Deep learning enthusiast. Rookie Django Developer.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle2 img-fluid d-block mx-auto" src="https://i.imgur.com/hYR706G.jpg" alt="">
          <h3>Abhijeet Singh
            <small>Tech Expert</small>
          </h3>
          <p>Undegraduate student at AIT. Intermediate expertise in python.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle2 img-fluid d-block mx-auto" src="https://i.imgur.com/pfUbmmD.png" alt="">
          <h3>Bikrant Latwal
            <small>Student</small>
          </h3>
          <p>Awesome student hacker.</p>
        </div>
      </div>
        <!-- <h1>
            We can fix all types
            of Electronic product & appliances.
        </h1>

        <p>
            We Repair all Main consumer electronics products include radio receivers, television sets, MP3 players, video recorders, DVD players, digital cameras, camcorders, personal computers, video game consoles, telephones and mobile phones and electronic appliances like fans,washing machine,refrigerators,etc.
        </p> -->
    </div>
{% endblock %}

